body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:908px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4084 {
  position:absolute;
  left:10px;
  top:0px;
  width:1620px;
  height:908px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:446px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086 {
  position:absolute;
  left:10px;
  top:0px;
  width:1620px;
  height:908px;
  overflow:hidden;
}
#u4086_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:908px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4086_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  position:absolute;
  left:0px;
  top:40px;
  width:1620px;
  height:5px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-bottom:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4090 {
  position:absolute;
  left:20px;
  top:5px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4091 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u4090_ann {
  position:absolute;
  left:213px;
  top:1px;
  width:1px;
  height:1px;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4092 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4094 {
  position:absolute;
  left:150px;
  top:60px;
  width:200px;
  height:25px;
}
#u4094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4094_input:disabled {
  color:grayText;
}
#u4094_ann {
  position:absolute;
  left:343px;
  top:56px;
  width:1px;
  height:1px;
}
#u4095 {
  position:absolute;
  left:390px;
  top:60px;
  width:200px;
  height:25px;
}
#u4095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4095_input:disabled {
  color:grayText;
}
#u4095_ann {
  position:absolute;
  left:583px;
  top:56px;
  width:1px;
  height:1px;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4096 {
  position:absolute;
  left:1450px;
  top:60px;
  width:125px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4097 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u4096_ann {
  position:absolute;
  left:1568px;
  top:56px;
  width:1px;
  height:1px;
}
#u4098 {
  position:absolute;
  left:20px;
  top:100px;
  width:1580px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u4098_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4098_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4099 {
  position:absolute;
  left:0px;
  top:0px;
  width:1585px;
  height:35px;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u4100 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  text-align:center;
}
#u4101 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u4102 {
  position:absolute;
  left:316px;
  top:0px;
  width:316px;
  height:30px;
  text-align:center;
}
#u4103 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u4104 {
  position:absolute;
  left:632px;
  top:0px;
  width:316px;
  height:30px;
  text-align:center;
}
#u4105 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u4106 {
  position:absolute;
  left:948px;
  top:0px;
  width:316px;
  height:30px;
  text-align:center;
}
#u4107 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u4108 {
  position:absolute;
  left:1264px;
  top:0px;
  width:316px;
  height:30px;
  text-align:center;
}
#u4109 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u4110 {
  position:absolute;
  left:0px;
  top:30px;
  width:1580px;
  height:770px;
}
#u4110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:770px;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4111 {
  position:absolute;
  left:1295px;
  top:60px;
  width:125px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4112 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u4111_ann {
  position:absolute;
  left:1413px;
  top:56px;
  width:1px;
  height:1px;
}
#u4113 {
  position:absolute;
  left:500px;
  top:290px;
  width:450px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u4113_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4116 {
  position:absolute;
  left:2px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4117 {
  position:absolute;
  left:0px;
  top:40px;
  width:450px;
  height:200px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:92px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4120 {
  position:absolute;
  left:409px;
  top:20px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4121 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4122 {
  position:absolute;
  left:409px;
  top:20px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4123 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4124 {
  position:absolute;
  left:73px;
  top:92px;
  width:88px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u4126 {
  position:absolute;
  left:180px;
  top:90px;
  width:200px;
  height:25px;
}
#u4126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4126_ann {
  position:absolute;
  left:373px;
  top:86px;
  width:1px;
  height:1px;
}
#u4127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4127 {
  position:absolute;
  left:55px;
  top:190px;
  width:125px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4129 {
  position:absolute;
  left:279px;
  top:190px;
  width:125px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4130 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  position:absolute;
  left:73px;
  top:135px;
  width:307px;
  height:30px;
}
#u4132 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4133 {
  position:absolute;
  left:73px;
  top:50px;
  width:307px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u4113_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:240px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4113_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4137 {
  position:absolute;
  left:2px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4138 {
  position:absolute;
  left:0px;
  top:40px;
  width:450px;
  height:200px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:92px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4141 {
  position:absolute;
  left:409px;
  top:20px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4142 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4143 {
  position:absolute;
  left:409px;
  top:20px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4144 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4145 {
  position:absolute;
  left:58px;
  top:92px;
  width:120px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u4147 {
  position:absolute;
  left:180px;
  top:90px;
  width:200px;
  height:25px;
}
#u4147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4147_ann {
  position:absolute;
  left:373px;
  top:86px;
  width:1px;
  height:1px;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4148 {
  position:absolute;
  left:55px;
  top:190px;
  width:125px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4150 {
  position:absolute;
  left:279px;
  top:190px;
  width:125px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4151 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4152 {
  position:absolute;
  left:73px;
  top:135px;
  width:307px;
  height:30px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4154 {
  position:absolute;
  left:73px;
  top:50px;
  width:307px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
