body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:908px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4074 {
  position:absolute;
  left:10px;
  top:0px;
  width:1620px;
  height:908px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:446px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4076 {
  position:absolute;
  left:30px;
  top:30px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  position:absolute;
  left:20px;
  top:55px;
  width:750px;
  height:840px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:412px;
  width:746px;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4080 {
  position:absolute;
  left:880px;
  top:30px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4082 {
  position:absolute;
  left:870px;
  top:55px;
  width:750px;
  height:840px;
}
#u4083 {
  position:absolute;
  left:2px;
  top:412px;
  width:746px;
  word-wrap:break-word;
}
