body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:788px;
  background:inherit;
  background-color:rgba(239, 240, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(239, 240, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:788px;
}
#u5189 {
  position:absolute;
  left:2px;
  top:386px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192 {
  position:absolute;
  left:10px;
  top:85px;
  width:1600px;
  height:240px;
}
#u5193 {
  position:absolute;
  left:2px;
  top:112px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5194 {
  position:absolute;
  left:22px;
  top:60px;
  width:94px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5195 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u5196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5197 {
  position:absolute;
  left:30px;
  top:110px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5198 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5197_ann {
  position:absolute;
  left:103px;
  top:106px;
  width:1px;
  height:1px;
}
#u5199 {
  position:absolute;
  left:120px;
  top:110px;
  width:400px;
  height:25px;
}
#u5199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5199_ann {
  position:absolute;
  left:513px;
  top:106px;
  width:1px;
  height:1px;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5200 {
  position:absolute;
  left:30px;
  top:150px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5202 {
  position:absolute;
  left:120px;
  top:150px;
  width:400px;
  height:100px;
}
#u5202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5202_ann {
  position:absolute;
  left:513px;
  top:146px;
  width:1px;
  height:1px;
}
#u5203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5203 {
  position:absolute;
  left:600px;
  top:100px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5204 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5205 {
  position:absolute;
  left:690px;
  top:100px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5206 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5205_ann {
  position:absolute;
  left:783px;
  top:96px;
  width:1px;
  height:1px;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5207 {
  position:absolute;
  left:820px;
  top:100px;
  width:270px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5208 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u5207_ann {
  position:absolute;
  left:1083px;
  top:96px;
  width:1px;
  height:1px;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5209 {
  position:absolute;
  left:30px;
  top:270px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5210 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5211 {
  position:absolute;
  left:120px;
  top:270px;
  width:400px;
  height:25px;
}
#u5211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5211_ann {
  position:absolute;
  left:513px;
  top:266px;
  width:1px;
  height:1px;
}
#u5212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5214 {
  position:absolute;
  left:20px;
  top:350px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5216 {
  position:absolute;
  left:10px;
  top:375px;
  width:1600px;
  height:170px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:77px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5218 {
  position:absolute;
  left:30px;
  top:500px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5220 {
  position:absolute;
  left:130px;
  top:500px;
  width:150px;
  height:25px;
}
#u5220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5220_input:disabled {
  color:grayText;
}
#u5220_ann {
  position:absolute;
  left:273px;
  top:496px;
  width:1px;
  height:1px;
}
#u5221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5221 {
  position:absolute;
  left:320px;
  top:500px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5223 {
  position:absolute;
  left:30px;
  top:390px;
  width:50px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5224 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u5225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5225 {
  position:absolute;
  left:30px;
  top:423px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5227 {
  position:absolute;
  left:1225px;
  top:500px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5228 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5229 {
  position:absolute;
  left:80px;
  top:390px;
  width:150px;
  height:25px;
}
#u5229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5229_ann {
  position:absolute;
  left:223px;
  top:386px;
  width:1px;
  height:1px;
}
#u5230 {
  position:absolute;
  left:465px;
  top:500px;
  width:150px;
  height:25px;
}
#u5230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5230_ann {
  position:absolute;
  left:608px;
  top:496px;
  width:1px;
  height:1px;
}
#u5231 {
  position:absolute;
  left:80px;
  top:423px;
  width:150px;
  height:25px;
}
#u5231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5231_ann {
  position:absolute;
  left:223px;
  top:419px;
  width:1px;
  height:1px;
}
#u5232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5233 {
  position:absolute;
  left:30px;
  top:458px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5235 {
  position:absolute;
  left:80px;
  top:458px;
  width:150px;
  height:25px;
}
#u5235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5236 {
  position:absolute;
  left:550px;
  top:295px;
  width:400px;
  height:250px;
  overflow:hidden;
  visibility:hidden;
}
#u5236_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5236_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u5238 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u5239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5239 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:200px;
}
#u5240 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5242_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u5242 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u5243 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u5244_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u5244 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u5245 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u5246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5246 {
  position:absolute;
  left:56px;
  top:86px;
  width:289px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5248 {
  position:absolute;
  left:70px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5250 {
  position:absolute;
  left:230px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5251 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5236_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:250px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5236_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u5253 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5254 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:200px;
}
#u5255 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5257_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u5257 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u5258 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u5259_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u5259 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u5260 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u5261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5261 {
  position:absolute;
  left:56px;
  top:86px;
  width:289px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5262 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5263 {
  position:absolute;
  left:70px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5264 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5265 {
  position:absolute;
  left:230px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5266 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5267 {
  position:absolute;
  left:10px;
  top:19px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5269 {
  position:absolute;
  left:298px;
  top:18px;
  width:200px;
  height:22px;
}
#u5269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5269_input:disabled {
  color:grayText;
}
#u5269_ann {
  position:absolute;
  left:491px;
  top:14px;
  width:1px;
  height:1px;
}
#u5270 {
  position:absolute;
  left:150px;
  top:18px;
  width:130px;
  height:22px;
}
#u5270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5270_input:disabled {
  color:grayText;
}
