body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:750px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:750px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:367px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4886 {
  position:absolute;
  left:2px;
  top:7px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4888 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4889 {
  position:absolute;
  left:209px;
  top:0px;
  width:209px;
  height:30px;
}
.u4890 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4891 {
  position:absolute;
  left:627px;
  top:0px;
  width:209px;
  height:30px;
}
.u4892 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4893 {
  position:absolute;
  left:836px;
  top:0px;
  width:209px;
  height:30px;
}
.u4894 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4895 {
  position:absolute;
  left:1045px;
  top:0px;
  width:209px;
  height:30px;
}
.u4896 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4897 {
  position:absolute;
  left:1463px;
  top:0px;
  width:209px;
  height:30px;
}
.u4898 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
.u4899 {
  position:absolute;
  left:1672px;
  top:0px;
  width:188px;
  height:30px;
}
.u4900 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4902 {
  position:absolute;
  left:2px;
  top:7px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4903 {
  position:absolute;
  left:418px;
  top:0px;
  width:209px;
  height:30px;
}
.u4904 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4905 {
  position:absolute;
  left:1254px;
  top:0px;
  width:209px;
  height:30px;
}
.u4906 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
#u4882-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:1860px;
  height:30px;
}
#u4882-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:1860px;
  height:30px;
}
#u4882-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:1860px;
  height:30px;
}
#u4882-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:1860px;
  height:30px;
}
#u4882-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:1860px;
  height:30px;
}
#u4882-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:1860px;
  height:30px;
}
#u4882-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:1860px;
  height:30px;
}
#u4882-9 {
  position:absolute;
  left:0px;
  top:240px;
  width:1860px;
  height:30px;
}
#u4882-10 {
  position:absolute;
  left:0px;
  top:270px;
  width:1860px;
  height:30px;
}
#u4882-11 {
  position:absolute;
  left:0px;
  top:300px;
  width:1860px;
  height:30px;
}
#u4882-12 {
  position:absolute;
  left:0px;
  top:330px;
  width:1860px;
  height:30px;
}
#u4882-13 {
  position:absolute;
  left:0px;
  top:360px;
  width:1860px;
  height:30px;
}
#u4882-14 {
  position:absolute;
  left:0px;
  top:390px;
  width:1860px;
  height:30px;
}
#u4882-15 {
  position:absolute;
  left:0px;
  top:420px;
  width:1860px;
  height:30px;
}
#u4882-16 {
  position:absolute;
  left:0px;
  top:450px;
  width:1860px;
  height:30px;
}
#u4882-17 {
  position:absolute;
  left:0px;
  top:480px;
  width:1860px;
  height:30px;
}
#u4882-18 {
  position:absolute;
  left:0px;
  top:510px;
  width:1860px;
  height:30px;
}
#u4882-19 {
  position:absolute;
  left:0px;
  top:540px;
  width:1860px;
  height:30px;
}
#u4882-20 {
  position:absolute;
  left:0px;
  top:570px;
  width:1860px;
  height:30px;
}
#u4882-21 {
  position:absolute;
  left:0px;
  top:600px;
  width:1860px;
  height:30px;
}
#u4882-22 {
  position:absolute;
  left:0px;
  top:630px;
  width:1860px;
  height:30px;
}
#u4882-23 {
  position:absolute;
  left:0px;
  top:660px;
  width:1860px;
  height:30px;
}
#u4882-24 {
  position:absolute;
  left:0px;
  top:690px;
  width:1860px;
  height:30px;
}
#u4882-25 {
  position:absolute;
  left:0px;
  top:720px;
  width:1860px;
  height:30px;
}
#u4882-26 {
  position:absolute;
  left:0px;
  top:750px;
  width:1860px;
  height:30px;
}
#u4882-27 {
  position:absolute;
  left:0px;
  top:780px;
  width:1860px;
  height:30px;
}
#u4882-28 {
  position:absolute;
  left:0px;
  top:810px;
  width:1860px;
  height:30px;
}
#u4882-29 {
  position:absolute;
  left:0px;
  top:840px;
  width:1860px;
  height:30px;
}
#u4882-30 {
  position:absolute;
  left:0px;
  top:870px;
  width:1860px;
  height:30px;
}
#u4882-31 {
  position:absolute;
  left:0px;
  top:900px;
  width:1860px;
  height:30px;
}
#u4882-32 {
  position:absolute;
  left:0px;
  top:930px;
  width:1860px;
  height:30px;
}
#u4882-33 {
  position:absolute;
  left:0px;
  top:960px;
  width:1860px;
  height:30px;
}
#u4882-34 {
  position:absolute;
  left:0px;
  top:990px;
  width:1860px;
  height:30px;
}
#u4882-35 {
  position:absolute;
  left:0px;
  top:1020px;
  width:1860px;
  height:30px;
}
#u4882-36 {
  position:absolute;
  left:0px;
  top:1050px;
  width:1860px;
  height:30px;
}
#u4882-37 {
  position:absolute;
  left:0px;
  top:1080px;
  width:1860px;
  height:30px;
}
#u4882-38 {
  position:absolute;
  left:0px;
  top:1110px;
  width:1860px;
  height:30px;
}
#u4882-39 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1860px;
  height:30px;
}
#u4882-40 {
  position:absolute;
  left:0px;
  top:1170px;
  width:1860px;
  height:30px;
}
#u4882-41 {
  position:absolute;
  left:0px;
  top:1200px;
  width:1860px;
  height:30px;
}
#u4882-42 {
  position:absolute;
  left:0px;
  top:1230px;
  width:1860px;
  height:30px;
}
#u4882-43 {
  position:absolute;
  left:0px;
  top:1260px;
  width:1860px;
  height:30px;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:1290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4907 {
  position:absolute;
  left:100px;
  top:20px;
  width:1400px;
  height:650px;
  overflow:hidden;
  visibility:hidden;
}
#u4907_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:650px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4907_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4909 {
  position:absolute;
  left:2px;
  top:13px;
  width:1396px;
  word-wrap:break-word;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4910 {
  position:absolute;
  left:0px;
  top:50px;
  width:1400px;
  height:600px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:292px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4913 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4914 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4915 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4916 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:50px;
  width:1400px;
  height:600px;
}
#u4917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:600px;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4918 {
  position:absolute;
  left:1346px;
  top:10px;
  width:30px;
  height:30px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
