body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:928px;
  background:inherit;
  background-color:rgba(239, 240, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(239, 240, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:928px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:456px;
  width:1866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690 {
  position:absolute;
  left:600px;
  top:230px;
  width:400px;
  height:200px;
  overflow:hidden;
}
#u3690_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3690_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3691 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3692 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:150px;
}
#u3694 {
  position:absolute;
  left:2px;
  top:67px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3695 {
  position:absolute;
  left:88px;
  top:80px;
  width:225px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3696 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3697 {
  position:absolute;
  left:150px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3698 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
