body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4923 {
  position:absolute;
  left:2px;
  top:7px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4924 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4925 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4926 {
  position:absolute;
  left:209px;
  top:0px;
  width:209px;
  height:30px;
}
.u4927 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4928 {
  position:absolute;
  left:418px;
  top:0px;
  width:209px;
  height:30px;
}
.u4929 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4930 {
  position:absolute;
  left:627px;
  top:0px;
  width:209px;
  height:30px;
}
.u4931 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4932 {
  position:absolute;
  left:836px;
  top:0px;
  width:209px;
  height:30px;
}
.u4933 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4934 {
  position:absolute;
  left:1045px;
  top:0px;
  width:209px;
  height:30px;
}
.u4935 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4936 {
  position:absolute;
  left:1254px;
  top:0px;
  width:209px;
  height:30px;
}
.u4937 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
.u4938 {
  position:absolute;
  left:1463px;
  top:0px;
  width:209px;
  height:30px;
}
.u4939 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
.u4940 {
  position:absolute;
  left:1672px;
  top:0px;
  width:188px;
  height:30px;
}
.u4941 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
.u4943 {
  position:absolute;
  left:2px;
  top:7px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:30px;
}
#u4920-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:1860px;
  height:30px;
}
#u4920-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:1860px;
  height:30px;
}
#u4920-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:1860px;
  height:30px;
}
#u4920-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:1860px;
  height:30px;
}
#u4920-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:1860px;
  height:30px;
}
#u4920-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:1860px;
  height:30px;
}
#u4920-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:1860px;
  height:30px;
}
#u4920-9 {
  position:absolute;
  left:0px;
  top:240px;
  width:1860px;
  height:30px;
}
#u4920-10 {
  position:absolute;
  left:0px;
  top:270px;
  width:1860px;
  height:30px;
}
#u4920-11 {
  position:absolute;
  left:0px;
  top:300px;
  width:1860px;
  height:30px;
}
#u4920-12 {
  position:absolute;
  left:0px;
  top:330px;
  width:1860px;
  height:30px;
}
#u4920-13 {
  position:absolute;
  left:0px;
  top:360px;
  width:1860px;
  height:30px;
}
#u4920-14 {
  position:absolute;
  left:0px;
  top:390px;
  width:1860px;
  height:30px;
}
#u4920-15 {
  position:absolute;
  left:0px;
  top:420px;
  width:1860px;
  height:30px;
}
#u4920-16 {
  position:absolute;
  left:0px;
  top:450px;
  width:1860px;
  height:30px;
}
#u4920-17 {
  position:absolute;
  left:0px;
  top:480px;
  width:1860px;
  height:30px;
}
#u4920-18 {
  position:absolute;
  left:0px;
  top:510px;
  width:1860px;
  height:30px;
}
#u4920-19 {
  position:absolute;
  left:0px;
  top:540px;
  width:1860px;
  height:30px;
}
#u4920-20 {
  position:absolute;
  left:0px;
  top:570px;
  width:1860px;
  height:30px;
}
#u4920-21 {
  position:absolute;
  left:0px;
  top:600px;
  width:1860px;
  height:30px;
}
#u4920-22 {
  position:absolute;
  left:0px;
  top:630px;
  width:1860px;
  height:30px;
}
#u4920-23 {
  position:absolute;
  left:0px;
  top:660px;
  width:1860px;
  height:30px;
}
#u4920-24 {
  position:absolute;
  left:0px;
  top:690px;
  width:1860px;
  height:30px;
}
#u4920-25 {
  position:absolute;
  left:0px;
  top:720px;
  width:1860px;
  height:30px;
}
#u4920-26 {
  position:absolute;
  left:0px;
  top:750px;
  width:1860px;
  height:30px;
}
#u4920-27 {
  position:absolute;
  left:0px;
  top:780px;
  width:1860px;
  height:30px;
}
#u4920-28 {
  position:absolute;
  left:0px;
  top:810px;
  width:1860px;
  height:30px;
}
#u4920-29 {
  position:absolute;
  left:0px;
  top:840px;
  width:1860px;
  height:30px;
}
#u4920-30 {
  position:absolute;
  left:0px;
  top:870px;
  width:1860px;
  height:30px;
}
#u4920-31 {
  position:absolute;
  left:0px;
  top:900px;
  width:1860px;
  height:30px;
}
#u4920-32 {
  position:absolute;
  left:0px;
  top:930px;
  width:1860px;
  height:30px;
}
#u4920-33 {
  position:absolute;
  left:0px;
  top:960px;
  width:1860px;
  height:30px;
}
#u4920-34 {
  position:absolute;
  left:0px;
  top:990px;
  width:1860px;
  height:30px;
}
#u4920-35 {
  position:absolute;
  left:0px;
  top:1020px;
  width:1860px;
  height:30px;
}
#u4920-36 {
  position:absolute;
  left:0px;
  top:1050px;
  width:1860px;
  height:30px;
}
#u4920-37 {
  position:absolute;
  left:0px;
  top:1080px;
  width:1860px;
  height:30px;
}
#u4920-38 {
  position:absolute;
  left:0px;
  top:1110px;
  width:1860px;
  height:30px;
}
#u4920-39 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1860px;
  height:30px;
}
#u4920-40 {
  position:absolute;
  left:0px;
  top:1170px;
  width:1860px;
  height:30px;
}
#u4920-41 {
  position:absolute;
  left:0px;
  top:1200px;
  width:1860px;
  height:30px;
}
#u4920-42 {
  position:absolute;
  left:0px;
  top:1230px;
  width:1860px;
  height:30px;
}
#u4920-43 {
  position:absolute;
  left:0px;
  top:1260px;
  width:1860px;
  height:30px;
}
#u4920-44 {
  position:absolute;
  left:0px;
  top:1290px;
  width:1860px;
  height:30px;
}
#u4920-45 {
  position:absolute;
  left:0px;
  top:1320px;
  width:1860px;
  height:30px;
}
#u4920-46 {
  position:absolute;
  left:0px;
  top:1350px;
  width:1860px;
  height:30px;
}
#u4920-47 {
  position:absolute;
  left:0px;
  top:1380px;
  width:1860px;
  height:30px;
}
#u4920-48 {
  position:absolute;
  left:0px;
  top:1410px;
  width:1860px;
  height:30px;
}
#u4920-49 {
  position:absolute;
  left:0px;
  top:1440px;
  width:1860px;
  height:30px;
}
#u4920-50 {
  position:absolute;
  left:0px;
  top:1470px;
  width:1860px;
  height:30px;
}
#u4920-51 {
  position:absolute;
  left:0px;
  top:1500px;
  width:1860px;
  height:30px;
}
#u4920-52 {
  position:absolute;
  left:0px;
  top:1530px;
  width:1860px;
  height:30px;
}
#u4920-53 {
  position:absolute;
  left:0px;
  top:1560px;
  width:1860px;
  height:30px;
}
#u4920-54 {
  position:absolute;
  left:0px;
  top:1590px;
  width:1860px;
  height:30px;
}
#u4920-55 {
  position:absolute;
  left:0px;
  top:1620px;
  width:1860px;
  height:30px;
}
#u4920-56 {
  position:absolute;
  left:0px;
  top:1650px;
  width:1860px;
  height:30px;
}
#u4920-57 {
  position:absolute;
  left:0px;
  top:1680px;
  width:1860px;
  height:30px;
}
#u4920-58 {
  position:absolute;
  left:0px;
  top:1710px;
  width:1860px;
  height:30px;
}
#u4920-59 {
  position:absolute;
  left:0px;
  top:1740px;
  width:1860px;
  height:30px;
}
#u4920-60 {
  position:absolute;
  left:0px;
  top:1770px;
  width:1860px;
  height:30px;
}
#u4920-61 {
  position:absolute;
  left:0px;
  top:1800px;
  width:1860px;
  height:30px;
}
#u4920-62 {
  position:absolute;
  left:0px;
  top:1830px;
  width:1860px;
  height:30px;
}
#u4920-63 {
  position:absolute;
  left:0px;
  top:1860px;
  width:1860px;
  height:30px;
}
#u4920-64 {
  position:absolute;
  left:0px;
  top:1890px;
  width:1860px;
  height:30px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:1920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4944 {
  position:absolute;
  left:95px;
  top:20px;
  width:1400px;
  height:760px;
  overflow:hidden;
  visibility:hidden;
}
#u4944_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:760px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4946 {
  position:absolute;
  left:2px;
  top:13px;
  width:1396px;
  word-wrap:break-word;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4947 {
  position:absolute;
  left:0px;
  top:50px;
  width:1400px;
  height:710px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:347px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4950 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4951 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u4952 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4953 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4955 {
  position:absolute;
  left:30px;
  top:300px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957 {
  position:absolute;
  left:20px;
  top:325px;
  width:1360px;
  height:430px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:207px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4960 {
  position:absolute;
  left:30px;
  top:335px;
  width:1300px;
  height:60px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4962 {
  position:absolute;
  left:40px;
  top:335px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4964 {
  position:absolute;
  left:40px;
  top:365px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:30px;
  top:405px;
  width:1300px;
  height:60px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4969 {
  position:absolute;
  left:40px;
  top:405px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4971 {
  position:absolute;
  left:40px;
  top:435px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  position:absolute;
  left:30px;
  top:475px;
  width:1300px;
  height:60px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4976 {
  position:absolute;
  left:40px;
  top:475px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4978 {
  position:absolute;
  left:40px;
  top:505px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:30px;
  top:545px;
  width:1300px;
  height:60px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4983 {
  position:absolute;
  left:40px;
  top:545px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4985 {
  position:absolute;
  left:40px;
  top:575px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4988 {
  position:absolute;
  left:30px;
  top:615px;
  width:1300px;
  height:60px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4990 {
  position:absolute;
  left:40px;
  top:615px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4992 {
  position:absolute;
  left:40px;
  top:645px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u4994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4995 {
  position:absolute;
  left:30px;
  top:685px;
  width:1300px;
  height:60px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:22px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4997 {
  position:absolute;
  left:40px;
  top:685px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u4999 {
  position:absolute;
  left:40px;
  top:715px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5002 {
  position:absolute;
  left:30px;
  top:60px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:20px;
  top:85px;
  width:1360px;
  height:200px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:92px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5006 {
  position:absolute;
  left:30px;
  top:95px;
  width:125px;
  height:45px;
  color:#FFFFFF;
}
#u5007 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5008 {
  position:absolute;
  left:225px;
  top:95px;
  width:125px;
  height:45px;
  color:#FFFFFF;
}
#u5009 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5010 {
  position:absolute;
  left:410px;
  top:95px;
  width:125px;
  height:45px;
  color:#FFFFFF;
}
#u5011 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5012 {
  position:absolute;
  left:600px;
  top:95px;
  width:125px;
  height:45px;
  color:#FFFFFF;
}
#u5013 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5014 {
  position:absolute;
  left:795px;
  top:95px;
  width:125px;
  height:45px;
  color:#FFFFFF;
}
#u5015 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5016 {
  position:absolute;
  left:165px;
  top:115px;
  width:50px;
  height:10px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5018 {
  position:absolute;
  left:355px;
  top:115px;
  width:50px;
  height:10px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5020 {
  position:absolute;
  left:545px;
  top:115px;
  width:50px;
  height:10px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5022 {
  position:absolute;
  left:735px;
  top:115px;
  width:50px;
  height:10px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5024 {
  position:absolute;
  left:990px;
  top:95px;
  width:125px;
  height:45px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5026 {
  position:absolute;
  left:930px;
  top:115px;
  width:50px;
  height:10px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5028 {
  position:absolute;
  left:1185px;
  top:95px;
  width:125px;
  height:45px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:10px;
}
#u5030 {
  position:absolute;
  left:1125px;
  top:115px;
  width:50px;
  height:10px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:-3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5032 {
  position:absolute;
  left:855px;
  top:148px;
  width:5px;
  height:40px;
}
#u5033 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5034 {
  position:absolute;
  left:660px;
  top:185px;
  width:200px;
  height:5px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:8px;
}
#u5036 {
  position:absolute;
  left:638px;
  top:163px;
  width:45px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5037 {
  position:absolute;
  left:2px;
  top:-4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:100px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5038 {
  position:absolute;
  left:1245px;
  top:150px;
  width:5px;
  height:100px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:5px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:90px;
  top:245px;
  width:1160px;
  height:5px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:8px;
}
#u5042 {
  position:absolute;
  left:42px;
  top:192px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5043 {
  position:absolute;
  left:2px;
  top:-4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5044 {
  position:absolute;
  left:140px;
  top:65px;
  width:10px;
  height:10px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5046 {
  position:absolute;
  left:155px;
  top:58px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5048 {
  position:absolute;
  left:225px;
  top:65px;
  width:10px;
  height:10px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5050 {
  position:absolute;
  left:239px;
  top:58px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5052 {
  position:absolute;
  left:306px;
  top:65px;
  width:10px;
  height:10px;
}
#u5053 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5054 {
  position:absolute;
  left:320px;
  top:58px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5056 {
  position:absolute;
  left:1346px;
  top:10px;
  width:30px;
  height:30px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
