body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u11952 {
  position:absolute;
  left:2px;
  top:13px;
  width:1396px;
  word-wrap:break-word;
}
#u11953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11953 {
  position:absolute;
  left:0px;
  top:50px;
  width:1400px;
  height:720px;
}
#u11954 {
  position:absolute;
  left:2px;
  top:352px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11956 {
  position:absolute;
  left:30px;
  top:72px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11958 {
  position:absolute;
  left:20px;
  top:97px;
  width:1360px;
  height:53px;
}
#u11959 {
  position:absolute;
  left:2px;
  top:18px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11960 {
  position:absolute;
  left:30px;
  top:107px;
  width:65px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11961 {
  position:absolute;
  left:2px;
  top:-1px;
  width:61px;
  word-wrap:break-word;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11962 {
  position:absolute;
  left:130px;
  top:107px;
  width:65px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11963 {
  position:absolute;
  left:2px;
  top:-1px;
  width:61px;
  word-wrap:break-word;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u11964 {
  position:absolute;
  left:100px;
  top:117px;
  width:25px;
  height:10px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11966 {
  position:absolute;
  left:140px;
  top:77px;
  width:10px;
  height:10px;
}
#u11967 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11968 {
  position:absolute;
  left:155px;
  top:70px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11970 {
  position:absolute;
  left:225px;
  top:77px;
  width:10px;
  height:10px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11972 {
  position:absolute;
  left:239px;
  top:70px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11974 {
  position:absolute;
  left:306px;
  top:77px;
  width:10px;
  height:10px;
}
#u11975 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11976 {
  position:absolute;
  left:320px;
  top:70px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11977 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u11979 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u11980 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u11981 {
  position:absolute;
  left:1351px;
  top:25px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u11982 {
  position:absolute;
  left:5px;
  top:-8px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:5px 8.5px;
  -ms-transform-origin:5px 8.5px;
  -moz-transform-origin:5px 8.5px;
  -webkit-transform-origin:5px 8.5px;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11983 {
  position:absolute;
  left:1346px;
  top:10px;
  width:30px;
  height:30px;
}
#u11984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11987 {
  position:absolute;
  left:20px;
  top:190px;
  width:1360px;
  height:150px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:67px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11990 {
  position:absolute;
  left:50px;
  top:210px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11991 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u11992 {
  position:absolute;
  left:140px;
  top:210px;
  width:250px;
  height:25px;
}
#u11992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11993 {
  position:absolute;
  left:852px;
  top:210px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11994 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u11995 {
  position:absolute;
  left:943px;
  top:210px;
  width:250px;
  height:100px;
}
#u11995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11996 {
  position:absolute;
  left:489px;
  top:210px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11997 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u11998 {
  position:absolute;
  left:579px;
  top:210px;
  width:60px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11999 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u11998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12000 {
  position:absolute;
  left:623px;
  top:210px;
  width:60px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12001 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12002 {
  position:absolute;
  left:670px;
  top:210px;
  width:60px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12003 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12004 {
  position:absolute;
  left:30px;
  top:165px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12008 {
  position:absolute;
  left:30px;
  top:630px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12010 {
  position:absolute;
  left:20px;
  top:655px;
  width:1360px;
  height:105px;
}
#u12011 {
  position:absolute;
  left:2px;
  top:44px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:85px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12013 {
  position:absolute;
  left:30px;
  top:665px;
  width:1340px;
  height:85px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:34px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12015 {
  position:absolute;
  left:40px;
  top:665px;
  width:540px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12016 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u12017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12017 {
  position:absolute;
  left:40px;
  top:695px;
  width:400px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12018 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u12019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12019 {
  position:absolute;
  left:40px;
  top:718px;
  width:1280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12021 {
  position:absolute;
  left:475px;
  top:695px;
  width:470px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12022 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u12023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12023 {
  position:absolute;
  left:918px;
  top:695px;
  width:250px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u12025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12028 {
  position:absolute;
  left:30px;
  top:360px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12030 {
  position:absolute;
  left:20px;
  top:385px;
  width:1360px;
  height:195px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:90px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12032 {
  position:absolute;
  left:40px;
  top:510px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12033 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12034 {
  position:absolute;
  left:330px;
  top:510px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12036 {
  position:absolute;
  left:40px;
  top:400px;
  width:50px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12038 {
  position:absolute;
  left:40px;
  top:433px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12039 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12040 {
  position:absolute;
  left:90px;
  top:400px;
  width:150px;
  height:25px;
}
#u12040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12040_ann {
  position:absolute;
  left:233px;
  top:396px;
  width:1px;
  height:1px;
}
#u12041 {
  position:absolute;
  left:475px;
  top:510px;
  width:150px;
  height:25px;
}
#u12041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12041_ann {
  position:absolute;
  left:618px;
  top:506px;
  width:1px;
  height:1px;
}
#u12042 {
  position:absolute;
  left:90px;
  top:433px;
  width:150px;
  height:25px;
}
#u12042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12042_ann {
  position:absolute;
  left:233px;
  top:429px;
  width:1px;
  height:1px;
}
#u12043 {
  position:absolute;
  left:1223px;
  top:510px;
  width:100px;
  height:25px;
}
#u12043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12043_input:disabled {
  color:grayText;
}
#u12044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12045 {
  position:absolute;
  left:40px;
  top:468px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12047 {
  position:absolute;
  left:90px;
  top:468px;
  width:150px;
  height:25px;
}
#u12047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12048 {
  position:absolute;
  left:489px;
  top:190px;
  width:400px;
  height:250px;
  overflow:hidden;
  visibility:hidden;
}
#u12048_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12048_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12050 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  word-wrap:break-word;
}
#u12051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12051 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:200px;
}
#u12052 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12054_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u12054 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12055 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u12056_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u12056 {
  position:absolute;
  left:359px;
  top:24px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u12057 {
  position:absolute;
  left:4px;
  top:-7px;
  width:12px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u12058 {
  position:absolute;
  left:56px;
  top:86px;
  width:289px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u12059 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12060 {
  position:absolute;
  left:70px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12062 {
  position:absolute;
  left:230px;
  top:150px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12063 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12065 {
  position:absolute;
  left:40px;
  top:545px;
  width:120px;
  height:25px;
  text-align:left;
}
#u12066 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u12065_ann {
  position:absolute;
  left:153px;
  top:541px;
  width:1px;
  height:1px;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12068_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u12068 {
  position:absolute;
  left:136px;
  top:555px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12069 {
  position:absolute;
  left:3px;
  top:-7px;
  width:8px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:4.5px 8px;
  -ms-transform-origin:4.5px 8px;
  -moz-transform-origin:4.5px 8px;
  -webkit-transform-origin:4.5px 8px;
}
#u12070_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u12070 {
  position:absolute;
  left:136px;
  top:555px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u12071 {
  position:absolute;
  left:3px;
  top:-7px;
  width:8px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:4.5px 8px;
  -ms-transform-origin:4.5px 8px;
  -moz-transform-origin:4.5px 8px;
  -webkit-transform-origin:4.5px 8px;
}
#u12072 {
  position:absolute;
  left:140px;
  top:510px;
  width:150px;
  height:25px;
}
#u12072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12072_input:disabled {
  color:grayText;
}
#u12072_ann {
  position:absolute;
  left:283px;
  top:506px;
  width:1px;
  height:1px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12074 {
  position:absolute;
  left:190px;
  top:545px;
  width:120px;
  height:25px;
  text-align:left;
}
#u12075 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u12074_ann {
  position:absolute;
  left:303px;
  top:541px;
  width:1px;
  height:1px;
}
#u12076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12077_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u12077 {
  position:absolute;
  left:286px;
  top:555px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12078 {
  position:absolute;
  left:3px;
  top:-7px;
  width:8px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:4.5px 8px;
  -ms-transform-origin:4.5px 8px;
  -moz-transform-origin:4.5px 8px;
  -webkit-transform-origin:4.5px 8px;
}
#u12079_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u12079 {
  position:absolute;
  left:286px;
  top:555px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u12080 {
  position:absolute;
  left:3px;
  top:-7px;
  width:8px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:4.5px 8px;
  -ms-transform-origin:4.5px 8px;
  -moz-transform-origin:4.5px 8px;
  -webkit-transform-origin:4.5px 8px;
}
